* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}



html {
    font-family: var(--basic-font-family);
    font-size: var(--basic-font-size);
    font-weight: var(--basic-font-weight);
    line-height: var(--basic-line-height);
    color: var(--basic-text-color);
}